[submodule "libraries/Unity"]
	path = libraries/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "libraries/doxygen-awesome-css"]
	path = libraries/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
